bin/Debug/net8.0/appsettings.Development.json
bin/Debug/net8.0/appsettings.json
bin/Debug/net8.0/appsettings.Production.json
bin/Debug/net8.0/BouncyCastle.Crypto.dll
bin/Debug/net8.0/comerr64.dll
bin/Debug/net8.0/EffortCalculator
bin/Debug/net8.0/EffortCalculator.deps.json
bin/Debug/net8.0/EffortCalculator.dll
bin/Debug/net8.0/EffortCalculator.pdb
bin/Debug/net8.0/EffortCalculator.runtimeconfig.json
bin/Debug/net8.0/EffortCalculator.staticwebassets.runtime.json
bin/Debug/net8.0/Google.Protobuf.dll
bin/Debug/net8.0/gssapi64.dll
bin/Debug/net8.0/Humanizer.dll
bin/Debug/net8.0/K4os.Compression.LZ4.dll
bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
bin/Debug/net8.0/K4os.Hash.xxHash.dll
bin/Debug/net8.0/k5sprt64.dll
bin/Debug/net8.0/krb5_64.dll
bin/Debug/net8.0/krbcc64.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/Mono.TextTemplating.dll
bin/Debug/net8.0/MySql.Data.dll
bin/Debug/net8.0/MySql.EntityFrameworkCore.dll
bin/Debug/net8.0/System.CodeDom.dll
bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net8.0/System.Drawing.Common.dll
bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/System.Security.Permissions.dll
bin/Debug/net8.0/System.Windows.Extensions.dll
bin/Debug/net8.0/ZstdNet.dll
bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
obj/Debug/net8.0/EffortCalculator.AssemblyInfo.cs
obj/Debug/net8.0/EffortCalculator.AssemblyInfoInputs.cache
obj/Debug/net8.0/EffortCalculator.assets.cache
obj/Debug/net8.0/EffortCalculator.csproj.AssemblyReference.cache
obj/Debug/net8.0/EffortCalculator.csproj.CopyComplete
obj/Debug/net8.0/EffortCalculator.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/EffortCalculator.csproj.FileListAbsolute.txt
obj/Debug/net8.0/EffortCalculator.dll
obj/Debug/net8.0/EffortCalculator.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/EffortCalculator.genruntimeconfig.cache
obj/Debug/net8.0/EffortCalculator.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net8.0/EffortCalculator.pdb
obj/Debug/net8.0/EffortCalculator.RazorAssemblyInfo.cache
obj/Debug/net8.0/EffortCalculator.RazorAssemblyInfo.cs
obj/Debug/net8.0/EffortCalculator.sourcelink.json
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/staticwebassets.development.json
obj/Debug/net8.0/staticwebassets.pack.json
obj/Debug/net8.0/ref/EffortCalculator.dll
obj/Debug/net8.0/refint/EffortCalculator.dll
obj/Debug/net8.0/scopedcss/bundle/EffortCalculator.styles.css
obj/Debug/net8.0/scopedcss/projectbundle/EffortCalculator.bundle.scp.css
obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net8.0/staticwebassets/msbuild.build.EffortCalculator.props
obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.EffortCalculator.props
obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.EffortCalculator.props
obj/Debug/net8.0/staticwebassets/msbuild.EffortCalculator.Microsoft.AspNetCore.StaticWebAssets.props
obj/Debug/net8.0/EffortCalculator.assets.cache
obj/Debug/net8.0/EffortCalculator.csproj.FileListAbsolute.txt
obj/Debug/net8.0/EffortCalculator.assets.cache
obj/Debug/net8.0/EffortCalculator.csproj.FileListAbsolute.txt
